---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Not Found" description="The requested page could not be found." path="/404/">
  <h1>Not Found</h1>
  <p>The page you requested does not exist.</p>
</BaseLayout>
